.CardItem {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
}
.Header {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.ItemImg {
    width: 100%;
    height: auto;
}
.Info {
    margin: 10px 0;
}
.ItemFooter {
    margin-top: 20px;
}
.Option {
    display: inline-block;
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
